mystyle.css
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

body{
 font-size: 50px;
 margin-left: 10px;
background-color: rgb(17, 0, 255);
font-family: 'Wallpoet', cursive;
}

  .ball {
   margin-top: 35px;
    border-radius: 50%;
    position: fixed;  
    width: 300px;
    height: 300px;
    top: 33%;
    margin-left: 280px;
    animation-name: bounce;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
  }

  #white  {
   
    animation-timing-function: ease-in;
    animation-direction: alternate;
  }

  @keyframes bounce {
    0% {
        top: 152px; 

	background-color: rgb(255, 213, 0);
	}
    
	20% {
        top: 43%;
	background-color: orange;
	}
	
	40% {
        top: 152px; 
	  background-color: yellow;
    }
  60% {
    top: 43%;
  background-color: rgb(255, 154, 81);
  }
  80%{
    top: 152px; background-color: rgb(255, 221, 0);

  }
  90% {
    top: 152px; 
    
    background-color:rgb(255, 225, 0);
}    
100% {
    top: 152px; 

background-color: rgb(255, 196, 0);
}
}
  



 
#scroll-container {
    -moz-transform: translateX(20%);
    -webkit-transform: translateX(105%);
    transform: translateX(-100%);
  
  }
  #scroll-text {
    background: -webkit-linear-gradient(#ff8000, #ffbf00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.8s ease;
    font-size: 40px;
    -moz-transform: translateX(150%);
    -webkit-transform: translateX(105%);
    transform: translateX(150%);
    transform: translate(-300%);
   
    -webkit-background-clip: text;
  
    -moz-animation: my-animation 35s linear infinite;
    -webkit-animation: my-animation 45s linear infinite;
    animation: animation bounce 19s linear infinite;
    
  }
 

  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); 
       }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); 
      }
  }
  
  @keyframes my-animation {
    
    from{

      -moz-transform: translateX(200%);
      -webkit-transform: translateX(200%);
      transform: translateX(200%);
      ;
    }
    to{
 
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
     ;
    }

}
.container {
    display: flex;
    ...
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
  }
  
.one{margin-left: 10px;
    font-size: 130%;
}
.two{
    font-size: 90%;
    text-align: right;
}
.link{
    text-decoration: none;
    color:black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 120px;
    margin:10px;
    overflow: fixed;
  
  }

  
  .flex-container > div {
    text-align: center;
    border-radius: 10px;
    background-color: #f1f1f1;
    width: 355px;
    height: 155px;
    margin: 8px;
    padding: 10px;
    font-size: 80px;  
    background-color:rgb(255, 255, 0); 
    border: 1pc;
    justify-content: center;
  }
  
  .mission{
    font-size: 50px;
    padding-top: 10%;
    max-width: 1200px;
    padding-left: 10%;
    text-align: center;
  }
  .stuff{
    font-size: 30px;
    padding-top: 0%;
    max-width: 10px;
    padding-right: 90%;
    text-align: left;


  }

  .u{
    font-size: 30px;
  }
  .ok{
    font-size: 100px;
    font-family: 'Times New Roman', serif;
  }

body{
    font-size: 50px;
    margin-left: 10px;
   background-color: rgb(17, 0, 255);
   font-family: Arial, Helvetica, sans-serif;
   }

   .Above{
    font-size: 400px;
    margin-top: 25%;
    margin-left: 500px;
   }